.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.navbar img{
    height: 100px;
    width: 200px;
    object-fit: contain;
    padding-left: 50px;
    cursor: pointer;
}
.navbar a{
    height: fit-content;
    width: 70px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}